html,
body {
  margin: 0;
  height: 100%;
}

/*date*/
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 0;
}

/*clock*/
.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  font-size: 6em;
}

/*before login*/
.loginForm {
  display: flex;
  justify-content: center;
}

.userId {
  margin-right: 10px;
  border-style: none;
  border-bottom: 2px solid black;
}

.loginForm button {
  all: unset;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  padding: 2px;
}

/*after login*/
.hello {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 2em;
}

/*input todo*/
.todoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  background-color: transparent;
  width: 165px;
  border-style: none;
  border-bottom: 2px solid black;
}

.todo:focus {
  outline: none;
}

/*show todo*/
.todoList {
  padding: 0px;
}

.todoList li {
  display: flex;
  justify-content: center;
}

.todoList span {
  margin-right: 5px;
  font-weight: bold;
}

.todoList button {
  all: unset;
  color: tomato;
  cursor: pointer;
}

/*quotes*/
.quotes {
  width: 100%;
  font-style: italic;
  position: absolute;
  bottom: 5px;
  text-align: center;
}

/*weather*/
.weather {
  position: absolute;
  top: 5px;
  right: 5px;
}

/*background*/
img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.hidden {
  display: none;
}
